<nz-card nzTitle="Manage Flashcards">
  <div class="filter-controls" style="margin-bottom: 20px;">
    <nz-form-item>
      <nz-form-label nzRequired>Select Lesson</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="selectedLessonId" (ngModelChange)="loadFlashcards()" nzPlaceHolder="Select Lesson">
          <nz-option *ngFor="let lesson of lessons" [nzValue]="lesson.lessonId" [nzLabel]="lesson.title"></nz-option>
          <nz-option *ngIf="!lessons.length" nzDisabled nzLabel="No lessons available"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>


  <nz-table #basicTable [nzData]="flashcards" [nzLoading]="!flashcards.length">
    <thead>
      <tr>
        <th>Word</th>
        <th>Meaning</th>
        <th>Is Known</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flashcard of basicTable.data">
        <td>{{ flashcard.word }}</td>
        <td>{{ flashcard.meaning }}</td>
        <td>
          <nz-tag [nzColor]="flashcard.isKnown ? 'green' : 'red'">
            {{ flashcard.isKnown ? 'Known' : 'Unknown' }}
          </nz-tag>
        </td>
        <td>
          <a nz-button nzType="link" (click)="toggleIsKnown(flashcard, true)" *ngIf="!flashcard.isKnown">Mark as Known</a>
          <nz-divider nzType="vertical" *ngIf="!flashcard.isKnown && flashcard.isKnown"></nz-divider> <a nz-button nzType="link" nzDanger (click)="toggleIsKnown(flashcard, false)" *ngIf="flashcard.isKnown">Mark as Unknown</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
