<nz-card nzTitle="Manage Answers">
  <nz-select [(ngModel)]="selectedQuestionId" (ngModelChange)="loadAnswers($event)" nzPlaceHolder="Select Question">
    <nz-option *ngFor="let question of questions" [nzValue]="question.questionId" [nzLabel]="question.questionText"></nz-option>
  </nz-select>
  <button nz-button nzType="primary" (click)="showModal(false)">Add Answer</button>
  <nz-table #basicTable [nzData]="answers" [nzLoading]="!answers.length">
    <thead>
      <tr>
        <th>Answer Text</th>
        <th>Correct</th>
        <th>Question</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let answer of basicTable.data">
        <td>{{ answer.answerText }}</td>
        <td>{{ answer.isCorrect ? 'Yes' : 'No' }}</td>
        <td>{{ answer.question.questionText }}</td>
        <td>
          <a nz-button nzType="link" (click)="showModal(true, answer)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-button nzType="link" nzDanger (click)="answer.answerId !== undefined && deleteAnswer(answer.answerId)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="isEdit ? 'Edit Answer' : 'Add Answer'"
    (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()"
  >
    <form nz-form [formGroup]="answerForm">
      <nz-form-item>
        <nz-form-label nzRequired>Question</nz-form-label>
        <nz-form-control nzErrorTip="Question is required">
          <nz-select formControlName="question">
            <nz-option *ngFor="let question of questions" [nzValue]="question.questionId" [nzLabel]="question.questionText"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Answer Text</nz-form-label>
        <nz-form-control nzErrorTip="Answer text is required">
          <input nz-input formControlName="answerText" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Is Correct</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName="isCorrect"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</nz-card>
