<div class="header">
  <nz-input-group style="width: 300px;">
    <span nz-icon nzType="search"></span>
    <input nz-input placeholder="Tìm kiếm..." />
  </nz-input-group>
  <div class="header-right">
    <nz-badge nzCount="5" style="--background-color: #f5222d;">
      <i nz-icon nzType="bell" style="font-size: 20px;"></i>
    </nz-badge>
    <nz-dropdown>
      <a class="ant-dropdown-link" nz-dropdown>
        <nz-avatar nzIcon="user"></nz-avatar>
        <span style="margin-left: 8px;">Admin</span>
      </a>
      <ul nz-menu>
        <li nz-menu-item>Profile</li>
        <li nz-menu-item>Settings</li>
        <li nz-menu-item>Logout</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
