<nz-card nzTitle="Dashboard Overview">
  <div *ngIf="stats; else loading">
    <nz-row nzGutter="16">
      <nz-col nzSpan="6">
        <nz-card nzTitle="Users">
          <p>{{ stats.userCount }}</p>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="6">
        <nz-card nzTitle="Vocabulary">
          <p>{{ stats.vocabularyCount }}</p>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="6">
        <nz-card nzTitle="Lessons">
          <p>{{ stats.lessonCount }}</p>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="6">
        <nz-card nzTitle="Quizzes">
          <p>{{ stats.quizCount }}</p>
        </nz-card>
      </nz-col>
    </nz-row>
  </div>
  <ng-template #loading>
    <nz-spin nzSimple></nz-spin>
  </ng-template>
</nz-card>
