<nz-card nzTitle="Manage Quizzes">
  <nz-select [(ngModel)]="selectedLessonId" (ngModelChange)="loadQuizzes($event)" nzPlaceHolder="Select Lesson">
    <nz-option *ngFor="let lesson of lessons" [nzValue]="lesson.lessonId" [nzLabel]="lesson.title"></nz-option>
  </nz-select>
  <button nz-button nzType="primary" (click)="showModal(false)">Add Quiz</button>
  <nz-table #basicTable [nzData]="quizzes" [nzLoading]="!quizzes.length">
    <thead>
      <tr>
        <th>Title</th>
        <th>Skill</th>
        <th>Lesson</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of basicTable.data">
        <td>{{ quiz.title }}</td>
        <td>{{ quiz.skill }}</td>
        <td>{{ quiz.lesson.title }}</td>
        <td>
          <a nz-button nzType="link" (click)="showModal(true, quiz)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-button nzType="link" nzDanger (click)="quiz.quizId !== undefined && deleteQuiz(quiz.quizId)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="isEdit ? 'Edit Quiz' : 'Add Quiz'"
    (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()"
  >
    <form nz-form [formGroup]="quizForm">
      <nz-form-item>
        <nz-form-label nzRequired>Lesson</nz-form-label>
        <nz-form-control nzErrorTip="Lesson is required">
          <nz-select formControlName="lesson">
            <nz-option *ngFor="let lesson of lessons" [nzValue]="lesson.lessonId" [nzLabel]="lesson.title"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Title</nz-form-label>
        <nz-form-control nzErrorTip="Title is required">
          <input nz-input formControlName="title" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Skill</nz-form-label>
        <nz-form-control nzErrorTip="Skill is required">
          <nz-select formControlName="skill">
            <nz-option *ngFor="let skill of skills" [nzValue]="skill" [nzLabel]="skill"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</nz-card>
